In [112]:
import pandas as pd
import json
import operator
import datetime as dt

In [113]:
movie_df = pd.read_csv('tmdb_5000_movies.csv')
credit_df = pd.read_csv('tmdb_5000_credits.csv')
df = pd.concat([movie_df, credit_df], axis=1)

In [114]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'title', 'cast', 'crew'],
      dtype='object')

In [164]:
df = df[df['revenue']>0]

In [166]:
df['budget']=df['budget'].replace(0,df['budget'].mean())

/Users/ShiMengjie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [167]:
len(df)

3376

In [168]:
def is_json(myjson):
    try:
        json_object = json.loads(myjson)
    except:
        return False
    return True

def encode_json_column(pandas_data_frame, json_column_index=0, json_id_column="id", encodinglimit = 1000, remove_non_encoded = 1):
      
    X = pandas_data_frame.iloc[:, :].values
    all_encodedcolumns = {}
    
    for row in X:                    
        if(is_json(row[json_column_index])): #some data is just not json. ignore            
            #for each feature in the json
            for json_features in json.loads(row[json_column_index]):
                #pick out its id (the json identifier you specifc in json_id_column)
                featureid = json_features[json_id_column]                
                #if this id hasn't been seen yet, add it to the dataframe with default 0
                if featureid not in all_encodedcolumns:
                    all_encodedcolumns[featureid] = 1                   
                #else just set it to 1 here
                all_encodedcolumns[featureid] += 1

    top_encodedcolumns = sorted(all_encodedcolumns.items(), key=operator.itemgetter(1), reverse=True)
    
    if encodinglimit < len(top_encodedcolumns):
        top_encodedcolumns = top_encodedcolumns[:encodinglimit]        

    top_encodedcolumns = dict(top_encodedcolumns)

    #keep track of whether a column has been encoded into the dataframe already, else we'd reset all the values to 0
    df_encodedcolumns = []
    count = 0
    
    #for each row in the data
    for row in X:       
        #keep track of whether this row can be kept or not, based on if it has an encoded value
        has_an_encoded_value = 0        
        if(is_json(row[json_column_index])): #some data is just not json. ignore         
            #for each feature in the json
            for json_features in json.loads(row[json_column_index]):  
                #pick out its id (the json identifier you specifc in json_id_column)
                featureid = json_features[json_id_column]                           
                if featureid in top_encodedcolumns:
                    #if this id hasn't been seen yet, add it to the dataframe with default 0
                    if featureid not in df_encodedcolumns:
                        df_encodedcolumns.append(featureid)
                        pandas_data_frame[featureid]=0                  
                    #else just set it to 1 here
                    pandas_data_frame[featureid][count] = 1                    
                    has_an_encoded_value = 1    
        if has_an_encoded_value == 0 & remove_non_encoded == 1:
            pandas_data_frame.drop(pandas_data_frame.index[count])
        else:
            count+=1
            
    return pandas_data_frame

In [169]:
## transform genre
encode_json_column(df, 1, "name", 30, 1)

/Users/ShiMengjie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/ShiMengjie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/ShiMengjie/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:1015: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc[key] = value

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,Romania,Mexico,Switzerland,Denmark,South Korea,Brazil,Luxembourg,release_date_datetime,release_year,release_month
0,237000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.44,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,0,0,0,0,0,0,0,2009-12-10,2009,12
1,300000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.08,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2007-05-19,2007,5
2,245000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.38,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,0,0,0,0,0,0,0,2015-10-26,2015,10
3,250000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.31,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,0,0,0,0,0,0,0,2012-07-16,2012,7
4,260000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.93,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,0,0,0,0,0,0,0,2012-03-07,2012,3
5,258000000.00,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.70,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,0,0,0,0,0,0,0,2007-05-01,2007,5
6,260000000.00,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.68,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2010-11-24,2010,11
7,280000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.28,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...",...,0,0,0,0,0,0,0,2015-04-22,2015,4
8,250000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.89,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,0,0,0,0,0,0,0,2009-07-07,2009,7
9,250000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.79,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...",...,0,0,0,0,0,0,0,2016-03-23,2016,3
10,270000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.93,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...",...,0,0,0,0,0,0,0,2006-06-28,2006,6
11,200000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.93,"[{""name"": ""Eon Productions"", ""id"": 7576}]",...,0,0,0,0,0,0,0,2008-10-30,2008,10
12,200000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.85,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2006-06-20,2006,6
13,255000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.05,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2013-07-03,2013,7
14,225000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Man of Steel,A young boy learns that he has extraordinary p...,99.40,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,0,0,0,0,0,0,0,2013-06-12,2013,6
15,225000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.98,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...",...,0,0,0,0,0,0,0,2008-05-15,2008,5
16,220000000.00,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.45,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,0,0,0,0,0,0,0,2012-04-25,2012,4
17,380000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.41,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2011-05-14,2011,5
18,225000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",http://www.sonypictures.com/movies/meninblack3/,41154,"[{""id"": 4379, ""name"": ""time travel""}, {""id"": 5...",en,Men in Black 3,Agents J (Will Smith) and K (Tommy Lee Jones) ...,52.04,"[{""name"": ""Amblin Entertainment"", ""id"": 56}, {...",...,0,0,0,0,0,0,0,2012-05-23,2012,5
19,250000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.thehobbit.com/,122917,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 603...",en,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,120.97,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,0,0,0,0,0,0,0,2014-12-10,2014,12
20,215000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.theamazingspiderman.com,1930,"[{""id"": 1872, ""name"": ""loss of father""}, {""id""...",en,The Amazing Spider-Man,Peter Parker is an outcast high schooler aband...,89.87,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,0,0,0,0,0,0,0,2012-06-27,2012,6
21,200000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.robinhoodthemovie.com/,20662,"[{""id"": 4147, ""name"": ""robin hood""}, {""id"": 43...",en,Robin Hood,When soldier Robin happens upon the dying Robe...,37.67,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...",...,0,0,0,0,0,0,0,2010-05-12,2010,5
22,250000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.thehobbit.com/,57158,"[{""id"": 603, ""name"": ""elves""}, {""id"": 604, ""na...",en,The Hobbit: The Desolation of Smaug,"The Dwarves, Bilbo and Gandalf have successful...",94.37,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,0,0,0,0,0,0,0,2013-12-11,2013,12
23,180000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.goldencompassmovie.com/index_german...,2268,"[{""id"": 392, ""name"": ""england""}, {""id"": 1461, ...",en,The Golden Compass,"After overhearing a shocking secret, precociou...",42.99,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,0,0,0,0,0,0,0,2007-12-04,2007,12
24,207000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.23,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,0,0,0,0,0,0,0,2005-12-14,2005,12
25,200000000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,"[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",en,Titanic,"84 years later, a 101-year-old woman named Ros...",100.03,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,0,0,0,0,0,0,0,1997-11-18,1997,11
26,250000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://marvel.com/captainamericapremiere,271110,"[{""id"": 393, ""name"": ""civil war""}, {""id"": 6091...",en,Captain America: Civil War,"Following the events of Age of Ultron, the col...",198.37,"[{""name"": ""Studio Babelsberg"", ""id"": 264}, {""n...",...,0,0,0,0,0,0,0,2016-04-27,2016,4
27,209000000.00,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.93,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,0,0,0,0,0,0,0,2012-04-11,2012,4
28,150000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.71,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",...,0,0,0,0,0,0,0,2015-06-09,2015,6
29,200000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.skyfall-movie.com,37724,"[{""id"": 470, ""name"": ""spy""}, {""id"": 4289, ""nam...",en,Skyfall,When Bond's latest assignment goes gravely wro...,93.00,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,0,0,0,0,0,0,0,2012-10-25,2012,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4670,400000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,9659,"[{""id"": 473, ""name"": ""chain""}, {""id"": 1009, ""n...",en,Mad Max,"In a dystopian future Australia, a vicious bik...",33.14,"[{""name"": ""Kennedy Miller Productions"", ""id"": ...",...,0,0,0,0,0,0,0,1979-04-12,1979,4
4671,200000.00,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,10218,"[{""id"": 10183, ""name"": ""independent film""}, {""...",en,Swingers,"This is a story about Mike, a guy who left his...",13.97,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",...,0,0,0,0,0,0,0,1996-10-18,1996,10
4672,200000.00,"[{""id"": 37, ""name"": ""Western""}]",NaN,391,"[{""id"": 2987, ""name"": ""gang war""}, {""id"": 4942...",it,Per un pugno di dollari,The Man With No Name enters the Mexican villag...,38.77,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...",...,0,0,0,0,0,0,0,1964-09-12,1964,9
4673,200000.00,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,43595,"[{""id"": 10229, ""name"": ""singer""}, {""id"": 19484...",en,She Done Him Wrong,New York singer and nightclub owner Lady Lou h...,0.62,"[{""name"": ""Paramount Pictures"", ""id"": 4}]",...,0,0,0,0,0,0,0,1933-02-09,1933,2
4675,200000.00,"[{""id"": 18, ""name"": ""Drama""}]",http://www.thegracecardmovie.com/,54897,"[{""id"": 2783, ""name"": ""family's daily life""}, ...",en,The Grace Card,Everything can change in an instant ... and ta...,0.62,"[{""name"": ""GraceWorks Pictures"", ""id"": 33632}]",...,0,0,0,0,0,0,0,2011-02-25,2011,2
4677,38884242.35,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...",NaN,53256,"[{""id"": 572, ""name"": ""sex""}, {""id"": 154937, ""n...",de,Drei,Hanna and Simon are in a 20 year marriage with...,5.94,"[{""name"": ""X-Filme Creative Pool"", ""id"": 1972}...",...,0,0,0,0,0,0,0,2010-12-23,2010,12
4695,180000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.miramax.com/movie/children-of-heaven/,21334,"[{""id"": 1155, ""name"": ""brother sister relation...",fa,بچه‌های آسمان,Zohre's shoes are gone; her older brother Ali ...,7.07,"[{""name"": ""The Institute for the Intellectual ...",...,0,0,0,0,0,0,0,1997-08-01,1997,8
4696,8000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://weekenderfilm.tumblr.com/,79120,"[{""id"": 237, ""name"": ""gay""}, {""id"": 1025, ""nam...",en,Weekend,After a drunken house party with his straight ...,1.04,"[{""name"": ""EM Media"", ""id"": 1917}, {""name"": ""T...",...,0,0,0,0,0,0,0,2011-09-22,2011,9
4700,100000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...",http://www.anotherearth.com/,55420,"[{""id"": 4627, ""name"": ""earth""}, {""id"": 10614, ...",en,Another Earth,On the night of the discovery of a duplicate E...,25.40,"[{""name"": ""Artists Public Domain"", ""id"": 8145}]",...,0,0,0,0,0,0,0,2011-07-22,2011,7
4701,150000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",http://www.sonyclassics.com/badass/,5822,"[{""id"": 534, ""name"": ""mexico""}, {""id"": 577, ""n...",en,Sweet Sweetback's Baadasssss Song,After saving a Black Panther from some racist ...,0.13,"[{""name"": ""Yeah"", ""id"": 2404}]",...,0,0,0,0,0,0,0,1971-04-23,1971,4
4703,150000.00,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,39141,"[{""id"": 10183, ""name"": ""independent film""}]",en,Tadpole,"Beautiful, sophisticated women are all over Os...",8.57,"[{""name"": ""IFC Productions"", ""id"": 26468}, {""n...",...,0,0,0,0,0,0,0,2002-11-01,2002,11
4704,160000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10402, ""n...",http://www.foxsearchlight.com/once/,5723,"[{""id"": 578, ""name"": ""rock and roll""}, {""id"": ...",en,Once,A vacuum repairman moonlights as a street musi...,19.05,"[{""name"": ""Summit Entertainment"", ""id"": 491}, ...",...,0,0,0,0,0,0,0,2007-03-23,2007,3
4713,160000.00,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 36,...",NaN,1779,"[{""id"": 592, ""name"": ""capitalism""}, {""id"": 147...",en,Roger & Me,A documentary about the closure of General Mot...,3.28,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,0,0,0,0,0,0,0,1989-09-01,1989,9
4717,125000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.yoursisterssister-themovie.com/,84355,"[{""id"": 1156, ""name"": ""sister sister relations...",en,Your Sister's Sister,Iris invites her friend Jack to stay at her fa...,12.83,"[{""name"": ""Ada Films"", ""id"": 1424}]",...,0,0,0,0,0,0,0,2011-09-11,2011,9
4720,8500000.00,"[{""id"": 18, ""name"": ""Drama""}]",http://www.foxsearchlight.com/thebirthofanation/,339408,"[{""id"": 2831, ""name"": ""slavery""}]",en,The Birth of a Nation,"Nat Turner, a former slave in America, leads a...",9.45,"[{""name"": ""Phantom Four"", ""id"": 423}, {""name"":...",...,0,0,0,0,0,0,0,2016-09-09,2016,9
4722,100000.00,"[{""id"": 18, ""name"": ""Drama""}]",http://www.facingthegiants.com/,18925,"[{""id"": 5950, ""name"": ""christian""}, {""id"": 607...",en,Facing the Giants,A losing coach with an underdog football team ...,4.56,"[{""name"": ""Destination Films"", ""id"": 769}]",...,0,0,0,0,0,0,0,2006-09-29,2006,9
4723,100000.00,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",http://thegallowsmovie.com/,299245,"[{""id"": 2125, ""name"": ""gallows""}, {""id"": 6270,...",en,The Gallows,20 years after a horrific accident during a sm...,18.05,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,0,0,0,0,0,0,0,2015-07-10,2015,7
4724,10000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 14, ""name...",NaN,985,"[{""id"": 1009, ""name"": ""baby""}, {""id"": 1852, ""n...",en,Eraserhead,Henry Spencer tries to survive his industrial ...,20.40,"[{""name"": ""American Film Institute (AFI)"", ""id...",...,0,0,0,0,0,0,0,1977-03-19,1977,3
4738,60000.00,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 18, ""...",http://www.pithemovie.com/,473,"[{""id"": 2157, ""name"": ""hacker""}, {""id"": 2303, ...",en,Pi,The debut film from Darren Aronofsky in which ...,27.79,"[{""name"": ""Truth and Soul Pictures Inc"", ""id"":...",...,0,0,0,0,0,0,0,1998-07-10,1998,7
4742,65000.00,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 35,...",NaN,9372,"[{""id"": 1706, ""name"": ""experiment""}, {""id"": 37...",en,Super Size Me,Morgan Spurlock subjects himself to a diet bas...,10.40,"[{""name"": ""Kathbur Pictures"", ""id"": 8735}]",...,0,0,0,0,0,0,0,2004-01-17,2004,1
4752,65000.00,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...",http://tinyfurniture.com/,47607,"[{""id"": 1156, ""name"": ""sister sister relations...",en,Tiny Furniture,"After graduating from film school, Aura return...",2.38,"[{""name"": ""Tiny Ponies"", ""id"": 65873}]",...,0,0,0,0,0,0,0,2010-11-12,2010,11
4758,4000000.00,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...",https://www.facebook.com/thesignalfilm,242095,"[{""id"": 2157, ""name"": ""hacker""}, {""id"": 4769, ...",en,The Signal,Three college students on a road trip across t...,27.66,"[{""name"": ""Automatik Entertainment"", ""id"": 281...",...,0,0,0,0,0,0,0,2014-03-15,2014,3
4766,38884242.35,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 104...",http://www.mgm.com/#/our-titles/1092/The-Last-...,13963,"[{""id"": 1228, ""name"": ""1970s""}, {""id"": 6027, ""...",en,The Last Waltz,Martin Scorsese's rockumentary intertwines foo...,3.28,"[{""name"": ""FM Productions"", ""id"": 12601}, {""na...",...,0,0,0,0,0,0,0,1978-05-01,1978,5
4772,31192.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",http://downterrace.blogspot.com/,42151,"[{""id"": 9826, ""name"": ""murder""}, {""id"": 10123,...",en,Down Terrace,After serving jail time for a mysterious crime...,1.33,[],...,0,0,0,0,0,0,0,2009-09-01,2009,9
4773,27000.00,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.75,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",...,0,0,0,0,0,0,0,1994-09-13,1994,9
4775,38884242.35,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,33693,"[{""id"": 171993, ""name"": ""mumblecore""}]",en,Funny Ha Ha,"Unsure of what to do next, 23-year-old Marnie ...",0.36,[],...,0,0,0,0,0,0,0,2002-09-20,2002,9
4788,12000.00,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",NaN,692,"[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",en,Pink Flamingos,Notorious Baltimore criminal and underground f...,4.55,"[{""name"": ""Dreamland Productions"", ""id"": 407}]",...,0,0,0,0,0,0,0,1972-03-12,1972,3
4792,20000.00,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.21,"[{""name"": ""Daiei Studios"", ""id"": 881}]",...,0,0,0,0,0,0,0,1997-11-06,1997,11

In [170]:
## transform country
encode_json_column(df, 10, "name", 30, 1)

/Users/ShiMengjie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/ShiMengjie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,Romania,Mexico,Switzerland,Denmark,South Korea,Brazil,Luxembourg,release_date_datetime,release_year,release_month
0,237000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.44,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,0,0,0,0,0,0,0,2009-12-10,2009,12
1,300000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.08,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2007-05-19,2007,5
2,245000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.38,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,0,0,0,0,0,0,0,2015-10-26,2015,10
3,250000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.31,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,0,0,0,0,0,0,0,2012-07-16,2012,7
4,260000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.93,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,0,0,0,0,0,0,0,2012-03-07,2012,3
5,258000000.00,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.70,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,0,0,0,0,0,0,0,2007-05-01,2007,5
6,260000000.00,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.68,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2010-11-24,2010,11
7,280000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.28,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...",...,0,0,0,0,0,0,0,2015-04-22,2015,4
8,250000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.89,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,0,0,0,0,0,0,0,2009-07-07,2009,7
9,250000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.79,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...",...,0,0,0,0,0,0,0,2016-03-23,2016,3
10,270000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.93,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...",...,0,0,0,0,0,0,0,2006-06-28,2006,6
11,200000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.93,"[{""name"": ""Eon Productions"", ""id"": 7576}]",...,0,0,0,0,0,0,0,2008-10-30,2008,10
12,200000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.85,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2006-06-20,2006,6
13,255000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.05,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2013-07-03,2013,7
14,225000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Man of Steel,A young boy learns that he has extraordinary p...,99.40,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,0,0,0,0,0,0,0,2013-06-12,2013,6
15,225000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.98,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...",...,0,0,0,0,0,0,0,2008-05-15,2008,5
16,220000000.00,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.45,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,0,0,0,0,0,0,0,2012-04-25,2012,4
17,380000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.41,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,0,0,0,0,0,0,0,2011-05-14,2011,5
18,225000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",http://www.sonypictures.com/movies/meninblack3/,41154,"[{""id"": 4379, ""name"": ""time travel""}, {""id"": 5...",en,Men in Black 3,Agents J (Will Smith) and K (Tommy Lee Jones) ...,52.04,"[{""name"": ""Amblin Entertainment"", ""id"": 56}, {...",...,0,0,0,0,0,0,0,2012-05-23,2012,5
19,250000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.thehobbit.com/,122917,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 603...",en,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,120.97,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,0,0,0,0,0,0,0,2014-12-10,2014,12
20,215000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.theamazingspiderman.com,1930,"[{""id"": 1872, ""name"": ""loss of father""}, {""id""...",en,The Amazing Spider-Man,Peter Parker is an outcast high schooler aband...,89.87,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,0,0,0,0,0,0,0,2012-06-27,2012,6
21,200000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.robinhoodthemovie.com/,20662,"[{""id"": 4147, ""name"": ""robin hood""}, {""id"": 43...",en,Robin Hood,When soldier Robin happens upon the dying Robe...,37.67,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...",...,0,0,0,0,0,0,0,2010-05-12,2010,5
22,250000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.thehobbit.com/,57158,"[{""id"": 603, ""name"": ""elves""}, {""id"": 604, ""na...",en,The Hobbit: The Desolation of Smaug,"The Dwarves, Bilbo and Gandalf have successful...",94.37,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,0,0,0,0,0,0,0,2013-12-11,2013,12
23,180000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.goldencompassmovie.com/index_german...,2268,"[{""id"": 392, ""name"": ""england""}, {""id"": 1461, ...",en,The Golden Compass,"After overhearing a shocking secret, precociou...",42.99,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,0,0,0,0,0,0,0,2007-12-04,2007,12
24,207000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.23,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...",...,0,0,0,0,0,0,0,2005-12-14,2005,12
25,200000000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,"[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",en,Titanic,"84 years later, a 101-year-old woman named Ros...",100.03,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,0,0,0,0,0,0,0,1997-11-18,1997,11
26,250000000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://marvel.com/captainamericapremiere,271110,"[{""id"": 393, ""name"": ""civil war""}, {""id"": 6091...",en,Captain America: Civil War,"Following the events of Age of Ultron, the col...",198.37,"[{""name"": ""Studio Babelsberg"", ""id"": 264}, {""n...",...,0,0,0,0,0,0,0,2016-04-27,2016,4
27,209000000.00,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.93,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,0,0,0,0,0,0,0,2012-04-11,2012,4
28,150000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.71,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",...,0,0,0,0,0,0,0,2015-06-09,2015,6
29,200000000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.skyfall-movie.com,37724,"[{""id"": 470, ""name"": ""spy""}, {""id"": 4289, ""nam...",en,Skyfall,When Bond's latest assignment goes gravely wro...,93.00,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,0,0,0,0,0,0,0,2012-10-25,2012,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4670,400000.00,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,9659,"[{""id"": 473, ""name"": ""chain""}, {""id"": 1009, ""n...",en,Mad Max,"In a dystopian future Australia, a vicious bik...",33.14,"[{""name"": ""Kennedy Miller Productions"", ""id"": ...",...,0,0,0,0,0,0,0,1979-04-12,1979,4
4671,200000.00,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,10218,"[{""id"": 10183, ""name"": ""independent film""}, {""...",en,Swingers,"This is a story about Mike, a guy who left his...",13.97,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",...,0,0,0,0,0,0,0,1996-10-18,1996,10
4672,200000.00,"[{""id"": 37, ""name"": ""Western""}]",NaN,391,"[{""id"": 2987, ""name"": ""gang war""}, {""id"": 4942...",it,Per un pugno di dollari,The Man With No Name enters the Mexican villag...,38.77,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...",...,0,0,0,0,0,0,0,1964-09-12,1964,9
4673,200000.00,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,43595,"[{""id"": 10229, ""name"": ""singer""}, {""id"": 19484...",en,She Done Him Wrong,New York singer and nightclub owner Lady Lou h...,0.62,"[{""name"": ""Paramount Pictures"", ""id"": 4}]",...,0,0,0,0,0,0,0,1933-02-09,1933,2
4675,200000.00,"[{""id"": 18, ""name"": ""Drama""}]",http://www.thegracecardmovie.com/,54897,"[{""id"": 2783, ""name"": ""family's daily life""}, ...",en,The Grace Card,Everything can change in an instant ... and ta...,0.62,"[{""name"": ""GraceWorks Pictures"", ""id"": 33632}]",...,0,0,0,0,0,0,0,2011-02-25,2011,2
4677,38884242.35,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...",NaN,53256,"[{""id"": 572, ""name"": ""sex""}, {""id"": 154937, ""n...",de,Drei,Hanna and Simon are in a 20 year marriage with...,5.94,"[{""name"": ""X-Filme Creative Pool"", ""id"": 1972}...",...,0,0,0,0,0,0,0,2010-12-23,2010,12
4695,180000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.miramax.com/movie/children-of-heaven/,21334,"[{""id"": 1155, ""name"": ""brother sister relation...",fa,بچه‌های آسمان,Zohre's shoes are gone; her older brother Ali ...,7.07,"[{""name"": ""The Institute for the Intellectual ...",...,0,0,0,0,0,0,0,1997-08-01,1997,8
4696,8000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://weekenderfilm.tumblr.com/,79120,"[{""id"": 237, ""name"": ""gay""}, {""id"": 1025, ""nam...",en,Weekend,After a drunken house party with his straight ...,1.04,"[{""name"": ""EM Media"", ""id"": 1917}, {""name"": ""T...",...,0,0,0,0,0,0,0,2011-09-22,2011,9
4700,100000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...",http://www.anotherearth.com/,55420,"[{""id"": 4627, ""name"": ""earth""}, {""id"": 10614, ...",en,Another Earth,On the night of the discovery of a duplicate E...,25.40,"[{""name"": ""Artists Public Domain"", ""id"": 8145}]",...,0,0,0,0,0,0,0,2011-07-22,2011,7
4701,150000.00,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",http://www.sonyclassics.com/badass/,5822,"[{""id"": 534, ""name"": ""mexico""}, {""id"": 577, ""n...",en,Sweet Sweetback's Baadasssss Song,After saving a Black Panther from some racist ...,0.13,"[{""name"": ""Yeah"", ""id"": 2404}]",...,0,0,0,0,0,0,0,1971-04-23,1971,4
4703,150000.00,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,39141,"[{""id"": 10183, ""name"": ""independent film""}]",en,Tadpole,"Beautiful, sophisticated women are all over Os...",8.57,"[{""name"": ""IFC Productions"", ""id"": 26468}, {""n...",...,0,0,0,0,0,0,0,2002-11-01,2002,11
4704,160000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10402, ""n...",http://www.foxsearchlight.com/once/,5723,"[{""id"": 578, ""name"": ""rock and roll""}, {""id"": ...",en,Once,A vacuum repairman moonlights as a street musi...,19.05,"[{""name"": ""Summit Entertainment"", ""id"": 491}, ...",...,0,0,0,0,0,0,0,2007-03-23,2007,3
4713,160000.00,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 36,...",NaN,1779,"[{""id"": 592, ""name"": ""capitalism""}, {""id"": 147...",en,Roger & Me,A documentary about the closure of General Mot...,3.28,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,0,0,0,0,0,0,0,1989-09-01,1989,9
4717,125000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.yoursisterssister-themovie.com/,84355,"[{""id"": 1156, ""name"": ""sister sister relations...",en,Your Sister's Sister,Iris invites her friend Jack to stay at her fa...,12.83,"[{""name"": ""Ada Films"", ""id"": 1424}]",...,0,0,0,0,0,0,0,2011-09-11,2011,9
4720,8500000.00,"[{""id"": 18, ""name"": ""Drama""}]",http://www.foxsearchlight.com/thebirthofanation/,339408,"[{""id"": 2831, ""name"": ""slavery""}]",en,The Birth of a Nation,"Nat Turner, a former slave in America, leads a...",9.45,"[{""name"": ""Phantom Four"", ""id"": 423}, {""name"":...",...,0,0,0,0,0,0,0,2016-09-09,2016,9
4722,100000.00,"[{""id"": 18, ""name"": ""Drama""}]",http://www.facingthegiants.com/,18925,"[{""id"": 5950, ""name"": ""christian""}, {""id"": 607...",en,Facing the Giants,A losing coach with an underdog football team ...,4.56,"[{""name"": ""Destination Films"", ""id"": 769}]",...,0,0,0,0,0,0,0,2006-09-29,2006,9
4723,100000.00,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",http://thegallowsmovie.com/,299245,"[{""id"": 2125, ""name"": ""gallows""}, {""id"": 6270,...",en,The Gallows,20 years after a horrific accident during a sm...,18.05,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,0,0,0,0,0,0,0,2015-07-10,2015,7
4724,10000.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 14, ""name...",NaN,985,"[{""id"": 1009, ""name"": ""baby""}, {""id"": 1852, ""n...",en,Eraserhead,Henry Spencer tries to survive his industrial ...,20.40,"[{""name"": ""American Film Institute (AFI)"", ""id...",...,0,0,0,0,0,0,0,1977-03-19,1977,3
4738,60000.00,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 18, ""...",http://www.pithemovie.com/,473,"[{""id"": 2157, ""name"": ""hacker""}, {""id"": 2303, ...",en,Pi,The debut film from Darren Aronofsky in which ...,27.79,"[{""name"": ""Truth and Soul Pictures Inc"", ""id"":...",...,0,0,0,0,0,0,0,1998-07-10,1998,7
4742,65000.00,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 35,...",NaN,9372,"[{""id"": 1706, ""name"": ""experiment""}, {""id"": 37...",en,Super Size Me,Morgan Spurlock subjects himself to a diet bas...,10.40,"[{""name"": ""Kathbur Pictures"", ""id"": 8735}]",...,0,0,0,0,0,0,0,2004-01-17,2004,1
4752,65000.00,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...",http://tinyfurniture.com/,47607,"[{""id"": 1156, ""name"": ""sister sister relations...",en,Tiny Furniture,"After graduating from film school, Aura return...",2.38,"[{""name"": ""Tiny Ponies"", ""id"": 65873}]",...,0,0,0,0,0,0,0,2010-11-12,2010,11
4758,4000000.00,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...",https://www.facebook.com/thesignalfilm,242095,"[{""id"": 2157, ""name"": ""hacker""}, {""id"": 4769, ...",en,The Signal,Three college students on a road trip across t...,27.66,"[{""name"": ""Automatik Entertainment"", ""id"": 281...",...,0,0,0,0,0,0,0,2014-03-15,2014,3
4766,38884242.35,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 104...",http://www.mgm.com/#/our-titles/1092/The-Last-...,13963,"[{""id"": 1228, ""name"": ""1970s""}, {""id"": 6027, ""...",en,The Last Waltz,Martin Scorsese's rockumentary intertwines foo...,3.28,"[{""name"": ""FM Productions"", ""id"": 12601}, {""na...",...,0,0,0,0,0,0,0,1978-05-01,1978,5
4772,31192.00,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",http://downterrace.blogspot.com/,42151,"[{""id"": 9826, ""name"": ""murder""}, {""id"": 10123,...",en,Down Terrace,After serving jail time for a mysterious crime...,1.33,[],...,0,0,0,0,0,0,0,2009-09-01,2009,9
4773,27000.00,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.75,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",...,0,0,0,0,0,0,0,1994-09-13,1994,9
4775,38884242.35,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,33693,"[{""id"": 171993, ""name"": ""mumblecore""}]",en,Funny Ha Ha,"Unsure of what to do next, 23-year-old Marnie ...",0.36,[],...,0,0,0,0,0,0,0,2002-09-20,2002,9
4788,12000.00,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",NaN,692,"[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",en,Pink Flamingos,Notorious Baltimore criminal and underground f...,4.55,"[{""name"": ""Dreamland Productions"", ""id"": 407}]",...,0,0,0,0,0,0,0,1972-03-12,1972,3
4792,20000.00,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.21,"[{""name"": ""Daiei Studios"", ""id"": 881}]",...,0,0,0,0,0,0,0,1997-11-06,1997,11

In [171]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'title', 'cast', 'crew', 'Action',
       'Adventure', 'Fantasy', 'Science Fiction', 'Crime', 'Drama', 'Thriller',
       'Animation', 'Family', 'Western', 'Comedy', 'Romance', 'Horror',
       'Mystery', 'History', 'War', 'Music', 'Documentary', 'Foreign',
       'TV Movie', 'United States of America', 'United Kingdom',
       'Czech Republic', 'New Zealand', 'Germany', 'China', 'Canada', 'Italy',
       'Japan', 'Australia', 'France', 'Belgium', 'India', 'Netherlands',
       'Spain', 'United Arab Emirates', 'Hong Kong', 'Ireland', 'Hungary',
       'Norway', 'Sweden', 'South Africa', 'Russia', 'Romania', 'Mexico',
       'Switzerland', 'Denmark', 'South Korea', 'Brazil', 'Luxembourg',
       'release_date_datetime', 'release_year', 'release_month'],
      dtype='object')

In [172]:
df['release_date_datetime'] = pd.to_datetime(df['release_date'])

/Users/ShiMengjie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [173]:
df['release_year'], df['release_month'] = df['release_date_datetime'].dt.year, df['release_date_datetime'].dt.month

/Users/ShiMengjie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [175]:
df['release_year'], df['release_month'] = df['release_year'].fillna(0.0).astype(int), df['release_month'].fillna(0.0).astype(int)

/Users/ShiMengjie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [177]:
df.to_csv('dataset_combined_w_dummies.csv')

In [178]:
inflation = pd.read_excel('inflation.xlsx')

In [179]:
inflation.head()

   YEAR  AVE Inflation  Relative-Year2020 Value
0  1914           1.00                     0.04
1  1915           1.00                     0.04
2  1916           7.90                     0.04
3  1917          17.40                     0.05
4  1918          18.00                     0.06

In [180]:
df_with_inf = df.merge(inflation, left_on='release_year', right_on='YEAR')

In [183]:
df_with_inf['budget_relative_2020'] = df_with_inf['budget']*df_with_inf['Relative-Year2020 Value']

In [184]:
df_with_inf['revenue_relative_2020'] = df_with_inf['revenue']*df_with_inf['Relative-Year2020 Value']

In [185]:
df_with_inf.to_csv('combined_inflation.csv')